/**
 * VIB CSS Styling.
 * Copyright 2022 VIB Bioinformatics Core Facility.
 * Permission is granted to use, change, and modify this
 * code under the terms of the MIT license
 * (see LICENSE, https://raw.githubusercontent.com/vibbits/vib-css/main/LICENSE)
 */

// COLOURS
$vib-blue: #1b2944;
$vib-orange: #ff681e;
$vib-cyan: #1cbbba;

$off-white: rgb(244, 244, 244);
$off-black: rgba(0, 0, 0, 0.85);
$border-colour: rgba(128, 128, 128, 0.1);
$vib-shadow: rgba(0, 0, 0, 0.01);

// BREAKPOINTS
$breakpoint-tablet: 672px;
$breakpoint-laptop: 990px;
$breakpoint-large-screen: 1296px;

@mixin tablet {
  @media only screen and (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: #{$breakpoint-large-screen}) {
    @content;
  }
}

// FONTS
@font-face {
  font-family: Dense;
  src: url("https://cdn.jsdelivr.net/npm/@vibbioinfocore/vib-css/fonts/Dense-Regular.otf")
    format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Dense-Bold;
  src: url("https://cdn.jsdelivr.net/npm/@vibbioinfocore/vib-css/fonts/Dense-Bold.otf")
    format("opentype");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

$main-font: "Open Sans", sans-serif;
$vib-font: "Barlow Condensed", sans-serif;
$vib-dense-font: Dense, sans-serif;
$vib-dense-bold-font: Dense-Bold, sans-serif;
