/**
 * VIB CSS Styling.
 * Copyright 2022 VIB Bioinformatics Core Facility.
 * Permission is granted to use, change, and modify this
 * code under the terms of the MIT license
 * (see LICENSE, https://raw.githubusercontent.com/vibbits/vib-css/main/LICENSE)
 */

@use "base";
@use "mixins" as *;

// RESET

* {
  margin: 0;
}

// GENERAL

body.vib-body {
  background-color: base.$off-white;
  width: 100%;
  font-family: base.$main-font;
  font-weight: 300;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  text-shadow: base.$vib-shadow 0 0 1px;

  a {
    color: base.$vib-blue;

    &:hover {
      color: base.$vib-orange;
    }
  }

  h1 {
    font-size: 4.375rem;
    line-height: 4.375rem;
    color: base.$vib-blue;
    font-weight: 400;
    font-family: base.$vib-font;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: base.$off-black;
    font-family: base.$vib-font;
  }
}

main.vib-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;

  section {
    width: 100%;
  }

  table {
    border: 1px solid base.$border-colour;
    text-align: left;

    thead {
      color: gray;
    }
  }

  th,
  td {
    padding: 15px 0px 15px 25px;
    border-bottom: 1px solid base.$border-colour;
    font-size: 14px;
  }
}

.background-off-white {
  @include background-off-white;
}

.background-off-black {
  @include background-off-black;
}

.background-blue {
  @include background-blue;
}

.background-cyan {
  @include background-cyan;
}

.background-orange {
  @include background-orange;
}

.border-grey {
  @include border-grey;
}

.foreground-blue {
  @include foreground-blue;
}

.foreground-cyan {
  @include foreground-cyan;
}

.foreground-orange {
  @include foreground-orange;
}

.vib-h1 {
  font-family: base.$vib-dense-font;
  font-size: 72px;
}

.vib-h2 {
  font-family: base.$vib-font;
  font-weight: 600;
  font-size: 2.5rem;
}

.vib-h3 {
  font-family: base.$vib-dense-bold-font;
  font-size: 30px;
}

.vib-btn {
  font-family: base.$vib-dense-font;
  font-size: 1.875rem;
  color: base.$vib-blue;
  margin-left: 32px;
  text-decoration: none;

  &:hover {
    color: base.$vib-cyan;
    text-decoration: underline;
  }
}

%chevron {
  content: " ";
  position: absolute;
  width: 80px;
  height: 20px;
  top: 6px;
  z-index: 2;
  background: base.$vib-blue;
}

.vib-bar-breadcrumb {
  height: 45px;
  background-color: base.$vib-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  overflow-x: auto;

  .vib-breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;

    a.vib-main-site {
      padding: 10px 16px 10px 20px;
      overflow: hidden;
      background: base.$vib-blue
        url("https://cdn.jsdelivr.net/npm/@vibbioinfocore/vib-css/images/chev_divider.png")
        no-repeat 100%;
      position: relative;

      @include base.laptop {
        transition: all 150ms ease;
        &:hover {
          background-color: base.$vib-cyan;
        }
      }

      &::before {
        @extend %chevron;
        left: 54px;
        transform: rotate(70deg);
      }

      &::after {
        @extend %chevron;
        left: 59px;
        transform: rotate(-70deg);
      }
    }

    a.breadcrumb {
      text-decoration: none;
      font-family: base.$main-font;
      color: white;
      padding-left: 16px;
      padding-right: 20px;
      z-index: 5;

      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }

  .vib-auth {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;

    a.vib-auth-button {
      margin-left: auto;
      margin-right: 10px;
      padding: 0 1.2rem 0 1.4rem;
      display: flex;
      align-items: center;
      height: 100%;
      border-left: 1px solid white;
      color: white;
      text-decoration: none;
      font-weight: normal;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }

    a.vib-admin {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 22 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.1 0-11.3 4.8s.2 5 .4 6.9c.2 1.9 1.1 6.3 3.5 9.5 2.5 3.1 6.1 4.2 7.4 4.7 1.3-.5 4.5-1.5 7.4-4.7 2.9-3.2 3.3-7.5 3.6-9.5.3-1.9.1-7 .1-7zm0 5.7c1.7 0 3 1.3 3 3 0 1.7-1.3 3-3 3-1.7 0-3-1.3-3-3 0-1.7 1.3-3 3-3zm-1.8 6.6c-.3.7 0 .9 1.7.9 1.7 0 2.1-.1 1.8-.9.7 1 2.1.7 2.9 1.4 1.2 1.1.7 3.3-.4 4.2-1.2.9-2.8 1.3-4.2 1.3-1.4 0-2.7-.3-4.2-1.3-1.5-1-1.6-3.1-.4-4.2.8-.7 2.1-.5 2.9-1.4z' fill='%23fff'/%3E%3C/svg%3E%0A");
      background-size: 25px 22px;
      background-repeat: no-repeat;
      background-position: top 10px left 1.2rem;
      padding-left: 3.6rem;
    }

    a.vib-user-info {
      padding: 0 0.5rem;
    }
  }
}

.vib-logo-small {
  height: 18px;
  width: 50px;
  margin-bottom: 3px;
}

header.vib-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 4px rgb(0 21 41 / 12%);
  background-color: white;

  nav.vib-nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include base.laptop {
      flex-direction: row;
    }
    align-self: center;
    background-color: white;
    padding: 0.7rem 0rem 0.7rem 0rem;
    width: 90%;

    input[type="checkbox"]#vib-toggle-menu {
      display: none;
    }

    input[type="checkbox"]#vib-toggle-menu:checked ~ .vib-main-menu {
      display: flex;
      flex-direction: column;

      @include base.laptop {
        flex-direction: row;
      }
    }

    .vib-menu-toggle-button {
      display: inline-block;
      padding: 7px 10px;
      position: absolute;
      right: 10px;

      @include base.laptop {
        display: none;
      }
    }

    .vib-menu-button-bar {
      display: block;
      @include background-blue;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      margin: 5px auto;
      transition: transform 0.2s ease-in;
    }

    ul.vib-main-menu {
      justify-content: flex-end;
      gap: 30px;
      align-items: center;
      width: 100%;
      display: none;
      @include base.laptop {
        display: flex;
        flex-direction: row;
      }
      flex-direction: column;
      list-style: none;
      padding-left: 0;

      a {
        font-size: 30px;
        line-height: 1;
        font-family: base.$vib-dense-font;
        font-weight: 500;
        color: base.$vib-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .vib-app-logo {
      max-width: 80%;
      max-height: 140px;
      object-fit: contain;
    }
  }
}

div.container {
  // a generic responsive container
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 50px;

  @include base.tablet {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

div.column-container {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  place-content: center;
  margin: 0.5rem;
  gap: 0.5rem;

  & > * {
    overflow: scroll !important;
    max-width: 100%;
  }
}

footer.vib-main-footer {
  width: 100%;
  margin: 60px 0 0 0 !important;
  font-weight: 400;
  padding: 0 0 0 0;
  display: flex;
  font-family: base.$main-font;
  flex-direction: column;

  @include base.laptop {
    flex-direction: row;
  }

  h3 {
    font-family: base.$vib-dense-font;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.875rem;
  }

  .footer-l {
    padding: 65px 40px 65px 40px;
    flex-grow: 2;
    background-color: base.$vib-blue;
    color: white;

    @include base.laptop {
      width: 168%;
    }

    .menu-box {
      margin-bottom: 40px;

      ul {
        list-style: none;
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-r {
    padding: 65px 50px 65px 50px;
    font-family: base.$main-font;
    font-weight: 300;
    background-color: base.$vib-cyan;
    color: base.$vib-blue;

    @include base.laptop {
      width: 132%;
    }
  }
}

.logo-partner {
  height: 61px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vlaanderen-footer {
  padding: 10px 18px 10px 18px;
  margin: 0 !important;
  width: 100%;

  > img {
    width: 150px;
  }
}
