/**
 * VIB CSS Styling.
 * Copyright 2022 VIB Bioinformatics Core Facility.
 * Permission is granted to use, change, and modify this
 * code under the terms of the MIT license
 * (see LICENSE, https://raw.githubusercontent.com/vibbits/vib-css/main/LICENSE)
 */

@use "base";
@use "mixins" as *;

// RESET

* {
  margin: 0;
}

// GENERAL

body {
  background-color: base.$off-white;
  width: 100%;
  font-family: base.$main-font;
  font-weight: 300;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  text-shadow: base.$vib-shadow 0 0 1px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1 {
  font-size: 4.375rem;
  line-height: 4.375rem;
  color: base.$vib-blue;
  font-weight: 400;
  font-family: base.$vib-font;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: base.$off-black;
  font-family: base.$vib-font;
}

nav {
  background-color: base.$off-white;
}

a {
  color: base.$vib-blue;

  &:hover {
    color: base.$vib-orange;
  }
}

table {
  border: 1px solid base.$border-colour;
  text-align: left;

  thead {
    color: gray;
  }
}

th,
td {
  padding: 15px 0px 15px 25px;
  border-bottom: 1px solid base.$border-colour;
  font-size: 14px;
}

footer {
  margin: 60px 0 0 0 !important;
  font-weight: 400;
  padding: 0 0 0 0;
  width: 100%;
}

.background-off-white {
  @include background-off-white;
}

.background-off-black {
  @include background-off-black;
}

.background-blue {
  @include background-blue;
}

.background-cyan {
  @include background-cyan;
}

.background-orange {
  @include background-orange;
}

.border-grey {
  @include border-grey;
}

.foreground-blue {
  @include foreground-blue;
}

.foreground-cyan {
  @include foreground-cyan;
}

.foreground-orange {
  @include foreground-orange;
}

.vib-h1 {
  font-family: base.$vib-dense-font;
  font-size: 72px;
}

.vib-h2 {
  font-family: base.$vib-font;
  font-weight: 600;
  font-size: 2.5rem;
}

.vib-h3 {
  font-family: base.$vib-dense-bold-font;
  font-size: 30px;
}

.vib-btn {
  font-family: base.$vib-dense-font;
  font-size: 1.875rem;
  color: base.$vib-blue;
  margin-left: 32px;
  text-decoration: none;

  &:hover {
    color: base.$vib-cyan;
    text-decoration: underline;
  }
}

%chevron {
  content: " ";
  position: absolute;
  width: 80px;
  height: 20px;
  top: 6px;
  z-index: 2;
  background: base.$vib-blue;
}

.vib-bar-breadcrumb {
  height: 45px;
  background-color: base.$vib-blue;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  overflow-x: auto;

  a.vib-main-site {
    padding: 10px 16px 10px 20px;
    overflow: hidden;
    background: base.$vib-blue url("../images/chev_divider.png") no-repeat 100%;
    position: relative;

    @include base.laptop {
      transition: all 150ms ease;
      &:hover {
        background-color: base.$vib-cyan;
      }
    }

    &::before {
      @extend %chevron;
      left: 54px;
      transform: rotate(70deg);
    }

    &::after {
      @extend %chevron;
      left: 59px;
      transform: rotate(-70deg);
    }
  }

  a.breadcrumb {
    text-decoration: none;
    font-family: base.$main-font;
    color: white;
    padding-left: 16px;
    padding-right: 20px;
    z-index: 5;

    &:hover {
      text-decoration: underline;
    }
  }
}

.vib-logo-small {
  height: 18px;
  width: 50px;
  margin-bottom: 3px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 4px rgb(0 21 41 / 12%);
  background-color: white;

  .vib-nav {
    display: none;
    @include base.laptop {
      display: flex;
    }
    align-self: center;
    background-color: white;
    padding: 0.7rem 0rem 0.7rem 0rem;
    width: 90%;

    ul.vib-main-menu {
      justify-content: flex-end;
      gap: 30px;
      align-items: center;
      width: 100%;
      display: flex;
      list-style: none;
      padding-left: 0;

      a {
        font-size: 30px;
        line-height: 1;
        font-family: base.$vib-dense-font;
        font-weight: 500;
        color: base.$vib-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

div.container {
  // a generic responsive container
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 50px;

  @include base.laptop {
    align-items: flex-start;
    flex-direction: row;
  }
}

footer.vib-main-footer {
  width: 100%;
  margin: 0 0 0 60px;
  display: flex;
  font-family: base.$main-font;
  flex-direction: column;

  @include base.laptop {
    flex-direction: row;
  }

  h3 {
    font-family: base.$vib-dense-font;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.875rem;
  }

  .footer-l {
    padding: 65px 40px 65px 40px;
    flex-grow: 2;
    background-color: base.$vib-blue;
    color: white;

    @include base.laptop {
      width: 168%;
    }

    .menu-box {
      margin-bottom: 40px;

      ul {
        list-style: none;
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-r {
    padding: 65px 50px 65px 50px;
    font-family: base.$main-font;
    font-weight: 300;
    background-color: base.$vib-cyan;
    color: base.$vib-blue;

    @include base.laptop {
      width: 132%;
    }
  }
}

.logo-partner {
  height: 61px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vlaanderen-footer {
  padding: 10px 18px 10px 18px;
  margin: 0 !important;
  width: 100%;

  > img {
    width: 150px;
  }
}
